/*====================================================================|| Template Design ||============================================================*/
header, footer, .container {float: left; width: 100%; padding: 10px;}
header, footer {background: lightblue;}
.container {background: lightcyan;}





/*=========================================================|| CUSTOM TEMPLATE - BREAKING POINTS ||=====================================================*/



/*===================================================================|| CONTAINERS Design ||============================================================*/
/* P_index */


/* PoetryPR */
.imageThis {height: 515px; width: auto;}